.border {
  max-width: 50%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background: #ffe79a;
}
h1 {
  text-align: center;
  margin-top: 18px;
  color: 00000;
  font-family: sans-serif;
  text-transform: uppercase;
}
#cityLabel {
  display: block;
  margin: auto;
  text-align: center;
  min-width: 75%;
  padding: 10px;
  border-radius: 5px;
}
#losAngeles {
  border-bottom: 1px dashed grey;
}
#paris {
  border-bottom: 1px dashed gray;
}
#nigeria {
  border-bottom: 1px dashed gray;
  margin-bottom: 20px;
}
.city-name {
  margin-top: 18px;
  margin-left: 10px;
  font-size: 32px;
  font-family: sans-serif;
}
.flag-emoji {
  padding: 3px;
}
.date {
  margin-top: 5px;
  margin-left: 10px;
  font-family: sans-serif;
  opacity: 0.7;
}
.time {
  display: flex;
  justify-content: right;
  position: relative;
  bottom: 43px;
  right: 15px;
  font-size: 29px;
}
small {
  font-size: 16px;
  font-weight: 900;
  position: relative;
  top: 8px;
}
#back {
  display: block;
  margin-bottom: 20px;
  margin-left: 20px;
  border: 1px solid blueviolet;
  background: blueviolet;
  max-width: 60px;
  color: whitesmoke;
}
footer {
  text-align: center;
  font-size: 12px;
  position: relative;
  bottom: 8px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
